.calendar
  %iframe{frameborder: "0", height: "300", scrolling: "no", src: "https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=YjNwbGFwZDJqbWc4ZHAyb2Nsb2RvazYyaThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%2333B679&color=%23F09300&color=%230B8043&showTitle=0&showNav=1&showCalendars=1&showTabs=0", style: "border:solid 1px #777", width: "200"}
