.calendar
  :javascript
    now = new Date();
    year = now.getYear();
    if (year < 1900) year += 1900;
    mon = now.getMonth()+1;
    day = now.getDate();
    you = now.getDay();

    //曜日の選択肢
    youbi = new Array("<font color='#ff0000'>日</font>","月","火","水","木","金","<font color='#0000ff'>土</font>");
    youbi_color = new Array("ff0000","","","","","","0000ff");
    
    
    //表示の設定
    today = year + "年" + mon + "月" + day + "日"+ "(<font color='" + youbi_color[you] + "'>" + youbi[you] + "</font>)"; 
    
    //画面に表示
    //document.write(today);
    //document.write("<hr>");

    //1日
    fday = new Date(year+"/"+mon+"/1");
    fyou = fday.getDay();
    //末日
    lday = new Array(31,28,31,30,31,30,31,31,30,31,30,31); 
    if ((year%4 == 0 && year%100 != 0) || (year%400 == 0)) {lday[1]++;}
    //カレンダー表示
    document.write("<table border='2'>"); 
      document.write("<tr><th colspan='7'>"+year+"年"+mon+"月</th></tr>");
    document.write("<tr>");
    for (m = 0; m < 7; m++){
      document.write("<th><font color='" + youbi_color[m] + "'>"+youbi[m]+"</font></th>");
    }
    document.write("</tr>");
    for (n = 0; n < 6; n++) {
      document.write("<tr>");
      for (m = 0; m < 7; m++){
        d = (n*7+m+1-fyou);
        if (day == d) {document.write("<td align='right' bgcolor='#ffaaaa>");}
        else {document.write("<td align='right'>");}
        if (d > 0&& d <= lday[mon-1]) {document.write("<font color='" + youbi_color[m] + "'>" +d+ "</font>");}
        else {document.write("&nbsp;");}
        document.write("</td>");
      }
      document.write("</tr>");
      if (d >= lday[mon-1]) break;
    }
    document.write("</table>");