= render "header"

.Wrapper
  = render "calendar"
  .Chat
    .MessageField
      .MessageBox
        .Message
          こんにちは。
        .MessageInfo
          .MessageInfo__userName
            太郎
          .MessageInfo__date
            2018/08/01 11:50
    .Footer
      %form.Form
        %input.Form__inputContent{type: "text"}
        %button.Form__submit{type: "submit"}
          POST



