= render "messages/header"
.Wrapper
  .info
    .info__box
      .info__box--name
        name
      .info__box--current
        = current_user.name
    .info__box
      .info__box--name
        email
      .info__box--current
        = current_user.email
