* {
  box-sizing: border-box;
}

.Header {
  height: 60px;
  width: 100%;
  background-color: #f08080;
}

.box {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0px 20px;

  &__small {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;

    &__up {
      color: #444;
      font-size: 20px;

    }
  }
}

.currentbox {
  height: 60px;
  width: 200px;
  position: absolute;
  top: 0px;
  right: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__small {
    height: 50px;
    width: 150px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Icons {
  height: 60px;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;

  &__icon {
    height: 60px;
    width: 50px;
    float: left;
    font-size: 20px;
    line-height: 60px;
    text-align: center;

    &--cog {
      color: $main_color;
    }

    &--user {
      color: $main_color;
    }

    &--book {
      color: $main_color;
    }

    &--reader {
      color: $main_color;
    }
  }
}

.Contents {
  height: 90vh;
  width: 900px;
  margin: 0 auto;
  background-color: #fffacd;
  padding: 35px 40px 0px;
}

.Icon {
  padding: 40px;
  color: #ffa500;
  font-size: 30px;
  text-align: center;
  display: flex;

  &__icons {
    height: 60px;
    width: 50px;
    align-items: center;
    justify-content: space-between;
  }
}

.Wrapper {
  display: flex;
}

.calendar {
  height: calc(100vh - 60px);
  width: 20vw;
  padding: 20px 10px;
  background-color: #fffacd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Chat {
  height: calc(100vh - 60px);
  width: 80vw;
  background-color: #ffe4e1;
}

.MessageField {
  height: calc(100vh - 120px);
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.MessageBox {
  background-color: #fff5ee;
  margin-bottom: 10px;
  padding: 10px;
  color: #444;
  border-radius: 10px;
  width: 100%;
}

.Message {
  width: 100%;
}

.MessageInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__userName {
    font-size: 12px;
    margin-right: 10px;
  }

  &__date {
    font-size: 12px;
  }
}

.footer {
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: #e5ffcc;
}

.form {
  display: flex;
  justify-content: space-between;

  &__contents {
    width: 100%;
    position: relative;
  }

  &__input {
    border: none;
    height: 50px;
    width: 100%;
    padding: 0px 45px 0px 15px;
    border-radius: 10px;
  }

  &__image {
    height: 50px;
    position: absolute;
    right: 10px;
  }
  .fa-image {
    line-height: 50px;
    font-size: 25px;
  }
  &__submit {
    background-color: #ffa500;
    border: none;
    color: #f08080;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    border-radius: 10px;
  }
  &__icon{
    display: none;
  }
}
.from__hiden{
  display: none;
}