.info{
  height: calc(100vh - 60px);
  width: 20vw;
  padding: 15px 10px;
  background-color: #ffcc66;
  &__box{
    height: 20px;
    width: 180px;
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
    &--name{
      font-size: 14px;
      font-weight: bold;
    }
    &--current{
      width: 100px;
      height: 100%;
      font-size: 14px;
      font-weight: bold;
    }
    }
  }

