.info{
  height: calc(100vh - 60px);
  width: 20vw;
  padding: 15px 10px;
  background-color: #ffcc66;
  &__box{
    height: 20px;
    width: 180px;
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
    &--name{
      font-size: 14px;
      font-weight: bold;
    }
    &--current{
      width: 100px;
      height: 100%;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    }
  }
.image{
  height: 50px;
}

.Contents {
  height: calc(100vh - 90px - 20px);
  width:900px;
  margin: 0 auto;
  background-color: #fffacd;
}
.ComentBox {
  background-color: #fff5ee;
  margin-bottom: 10px;
  padding: 10px;
  color: #444;
  border-radius: 10px;
  width: 100%;
}

.comment {
  width: 100%;
}

.MessageInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__userName {
    font-size: 12px;
    margin-right: 10px;
  }

  &__date {
    font-size: 12px;
  }
}